{%extends 'home.html'%}

{%block title%}Edit user {%endblock%}

{% block h1 %}<h1>Hi {{current_user.first_name}}, edit your user profile!</h1>{% endblock %}

{%block details%}

<form action="/users/{{current_user.id}}/edit" method="POST">
    <input type="text" name="first_name" placeholder="Enter first name">
    <input type="text" name="last_name" placeholder="Enter last name">
    <input type="text" name="image_url" placeholder="Enter image URL">
    <button type="submit">Update User info!</button>
</form>
<form action="/users/{{current_user.id}}/delete" method="POST">
    <button type="submit"> Delete this user! </button>
</form>

{%endblock%}

{% block links %}
<a href="/">Go back Home!</a>
{% endblock%}