<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Peter's Blogly{% endblock %}</title>
</head>
<body>
{% for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{% endfor %}

{%block h1 %}
<h1>Welcome to Peter's social network!</h1>
{%endblock%}

{%block details%}
{%endblock%}

{% for user in all_users %}
<ul>
    <li>{{user.first_name}} {{user.last_name}} <a href="/users/{{user.id}}"> Give me details </a></li> 
</ul>
{% endfor %}

{% block new_user %}
<a href="/users/new">Add a new user!</a>
{% endblock %}


</body>

</html>